.button {
    display: inline-block;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    text-decoration: none;
    font-weight: bold;
    background: lightcoral;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
    margin: 5px;
}


section {
    text-align: center;
    margin-top: 100px;
    border: 1px solid red;
}


