<div>
        <h1>Edit Book</h1>
        <form #editForm="ngForm" (ngSubmit)="onSubmit()">
                <label for="title">Title:</label>
                <input type="text" #titleName="ngModel" name="title" id="title" ngModel required>
                <ng-container *ngIf="titleName.touched && titleName.invalid">
                        <p>Title is required!</p>
                </ng-container>
                <br>
                <label for="description">Description:</label>
                <input type="text" name="description" #descriptionName="ngModel" id="description" ngModel required
                        minlength="15">
                <ng-container *ngIf="descriptionName.touched && descriptionName.invalid">
                        <p *ngIf="descriptionName.errors?.['required']">
                                Description is required!
                        </p>
                        <p *ngIf="descriptionName.errors?.['minlength']">
                                Description must be at least 15 characters long!
                        </p>
                </ng-container>
                <br>
                <label for="type">Type:</label>
                <input type="text" name="type" #typeName="ngModel" id="type" ngModel required>
                <ng-container *ngIf="typeName.touched && typeName.invalid">
                        <p>Type name is required</p>
                </ng-container>
                <br>
                <button>Edit</button>
        </form>

</div>