<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">SoftUni Forum</span></p>
        </div>
        <!-- For public part -->
        <div class="mini-navbar" *ngIf="hasUser == false" >
            <ul>
                <li>
                    <a routerLink="/home">Home Page</a>
                </li>
                <li>
                    <a routerLink="/register">Register</a>
                </li>
                <li>
                    <a routerLink="/login" >Login</a>
                </li>
                <li>
                    <a routerLink="/about">About</a>
                </li>
                <li>
                    <a routerLink="/contacts">Contacts</a>
                </li>
            </ul>
        </div>
    </div>
    
    <ng-container *ngIf="hasUser == true">
        <nav>
            <ul>
                <li>
                    <a routerLink="/add-book">Add Book</a>
                </li>
                <li>
                    <a routerLink="/all-books">All Books</a>
                </li>
                <li>
                    <a routerLink="/my-profile">My Profile</a>
                </li>
                <li>
                    <button (click)="logOut()">Log Out</button>
                </li>
            </ul>
        </nav>
    </ng-container>
    </header>